.vs/WebSite1/config/applicationhost.config
.vs/WebSite1/v16/.suo
.vs/WebSite1/v16/Server/sqlite3/db.lock
.vs/WebSite1/v16/Server/sqlite3/storage.ide
.vs/WebSite1/v16/Server/sqlite3/storage.ide-wal
.vs/WebSite1/v16/Server/sqlite3/storage.ide-shm
WebSite1/App_Data/lddb_Log.ldf
WebSite1/App_Data/lddb.mdf
WebSite1/App_Data/lddb.mdf
WebSite1/App_Data/lddb_Log.ldf
WebSite1/App_Data/lddb_Log.ldf
WebSite1/App_Data/lddb.mdf
.vs/WebSite1/v16/.suo
.vs/WebSite1/config/applicationhost.config
.vs/WebSite1/config/applicationhost.config
.vs/WebSite1/v16/.suo
.vs/WebSite1/v16/Server/sqlite3/storage.ide
*.config
